* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: beige;
  padding: 1.2rem 1rem;
  font-size: 1.5rem;
  list-style: none;
}

#image {
  height: 100vh;
  width: 100vw;
}

figure {
  position: relative;
  cursor: pointer;
}

figure figcaption {
  position: absolute;
  top: 2rem;
  left: 30rem;
  font-size: 5rem;
  color: beige;
  text-shadow: 3px 1px 5px black;
}
